h1 {
  background-color: black;
  color: white;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 5px;
  text-align: center;
  margin: 0; 
  
  /* new stuff below  */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

h2 {
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

main {
  background: -webkit-linear-gradient(top, white, azure);
  background: linear-gradient(to bottom, white, azure);
}

section {
  padding: 10px;
  max-width: 960px;
  margin: auto;
  background-color: white;
}

footer {
  padding: 10px;
  border-top: 2px dashed goldenrod;
  text-align: center;
}

.alternate-color {
  color: darkgoldenrod;
}

.main-header {
  height: 230px;
  background-image: url("https://raw.githubusercontent.com/wdi-sg/smart-coding-101/master/images/avatar.png");
  background-size: contain;
  background-position: center; 
  position: relative;
}

.intro { 
  font-size: 1.4em;
  text-align: center;
  padding: 20px;
}

.section-header {
  height: 200px;
  border-top: 3px solid grey; 
  background-image: url("https://raw.githubusercontent.com/wdi-sg/smart-coding-101/master/images/bgs/3.png");
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.link-item {
  width: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 5px;
  padding: 5px;
  background-color: lightgrey;
  letter-spacing: 0.3em;
  color: goldenrod;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.link-item:hover {
  background-color: PaleGoldenRod;
}
